@import "src/styles/StyleVariables";
.images-gallery {
  display: flex;
  gap: 26px;
}
.images-gallery.display-none--mobile {
  display: none;
}


@media (min-width: $screen--lg) {
  .images-gallery.display-none--mobile {
    display: flex;
  }
  .images-gallery.display-none--desktop {
    display: none;
  }
}

