@import "src/styles/StyleVariables";
.cart {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.cart__header {
  padding: 24px 24px 32px 24px;
  border-bottom: 1px solid $text-color--hover;
  font-size: $font-size--main;
  font-weight: bold;
}
.cart-content {
  padding: 82px 24px 50px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size--main;
  color: $text-color--main;
}
.cart-content--full {
  padding: 24px 24px 0 24px;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
}
.cart-content__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cart__message {
  font-weight: bold;
}