@import "src/styles/StyleVariables";

.cart-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-item__info {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cart-item__image {
  border-radius: 4px;
  width: 50px;
  height: 50px;
}
.cart-item__text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-description {
  display: flex;
  gap: 8px;
}
.cart-item__total-price {
  color: $black;
}

.cart-item-button {
  color: $text-color--hover;
  border: none;
  background: none;
  cursor: pointer;
  &:hover {
    color: $primary-color--hover;
  }
  &:focus, &:active {
    outline: none;
    color: $primary-color;
  }
}