$screen-lg: 1440px;
$primary-color: hsl(26, 100%, 55%);
$primary-color--hover: hsl(25, 100%, 94%);
$text-color--header: hsl(220, 13%, 13%);
$text-color--main: hsl(219, 9%, 45%);
$text-color--disabled: hsl(220, 14%, 75%);
$counter-bg: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$lightbox-bg: hsl(0, 0%, 75%);
$font-size--main: 16px;
$font-size--h1: 28px;
$font-size--taglines: 12px;
