@import "src/styles/StyleVariables";


.carousel-actions {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}
.carousel-actions.display-none--mobile {
  display: none;
}
.button--prev svg {
  transform: rotate(180deg);
}

.carousel-actions__button {
  color: $text-color--header;
  background: $white;
  border-radius: 100px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  &:hover {
    color: $primary-color;
  }
  &:focus, &:active {
    color: $primary-color;
    background: $primary-color--light;
    outline: none;
  }
}

@media (min-width: $screen--lg) {
  .carousel-actions {
    padding: 0;
    right: -20px;
    left: -20px;
  }
  .carousel-actions.display-none--mobile {
    display: flex;
  }
  .carousel-actions.display-none--desktop {
    display: none;
  }

}