@import "../../styles/StyleVariables";
.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: $text-color--header;
  font-size: $font-size--main;
  font-weight: bold;
}

@media (min-width: $screen--lg) {
  .navigation-list {
    flex-direction: row;
    gap: 34px;
    font-weight: normal;
    color: $text-color--main;
  }

}