@import "src/styles/StyleVariables";

.product-images__modal {
  display: none;
}

.product-item {
  display: flex;
  flex-direction: column;
  padding: 26px 20px 88px 20px;
}
.product-section__text-block {
  padding-bottom: 40px;
}
.product-section__eyebrow {
  color: $primary-color;
  text-transform: uppercase;
  font-weight: bold;
  font-size: $font-size--taglines;
  letter-spacing: 4px;
  margin-bottom: 22px;
}
.product-section__title {
  color: $text-color--header;
  margin: 0 0 30px 0;
  font-size: $font-size--h1;
}
.product-section__description {
  color: $text-color--main;
  font-size: $font-size--main;
}

.product-section__price-block {
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-section__actual-price {
  display: flex;
  align-items: center;
  gap: 30px;
  color: $text-color--header;
  font-size: $font-size--h1;
  font-weight: bold;
}

.product-section__price {
  color: $text-color--hover;
  font-weight: bold;
  text-decoration: line-through;
}

.product-section__actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}



@media (min-width: $screen--lg) {
  .product-images__modal {
    display: block;
  }
  .product-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 90px 50px;
  }
  .product-item {
    max-width: 50%;
    padding: 0;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .product-section__text-block {
    display: inline-block;
    padding-bottom: 35px;
    max-width: 424px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-section__title {
    font-size: 34px;
  }
  .product-section__price-block {
    flex-direction: column;
    gap: 17px;
    align-items: flex-start;
    width: 100%;
  }
  .product-section__actual-price {
    gap: 18px;
  }
  .product-section__actions {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 18px;
  }

}