@import "../../../../styles/StyleVariables";

.gallery-button {
  display: flex;
  padding: 0;
  border: 2px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($primary-color--light, 50%);
    border-radius: 6px;
  }
  &:focus::after, &:active::after {
    border: 2px solid $primary-color;
  }
}

.large .gallery-button {
  width: 88px;
  height: 88px;
}
.gallery-button--active {
  border: 2px solid $primary-color;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba($primary-color--light, 50%);
      border-radius: 6px;
    }
}
.gallery-button__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}